@charset "UTF-8";

html {
    font-size: 100%
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.7;
}

img {
    max-width: 100%
}

a {
    text-decoration: none;
    color: #232323;
    font-weight: bold;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    margin: 0;
}





/* ヘッダーの左側
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;

    &__logo {
        display: flex;
        align-items: center;
        margin-left: 20px;
        height: 50px;
    }

    &__link {
        display: block;
        align-items: center; 
    }

    &__description {
        font-size: 14px;
        color: #131d34;
        font-weight: 900;
        margin-left: 15px;

        &>strong {
            font-weight: 900;
            font-size: 18px;
        }
    }

    @media screen and (max-width: 1200px) {
        height: 50px;
        display: block; //flexを解除
    }



    //1280px以下になると非表示
    @media screen and (max-width: 1280px) {
        .header__description {
            display: none;
        }
    }

}

/*ヘッダーの右側
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ーー*/

.nav {
    /*justify-contentしたものをさらに右寄せ*/
    margin: 0 0 0 auto;
    position: relative;

    @media screen and (max-width: 1200px) {
        width: 50%
    }

    &__primary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;

        @media screen and (max-width: 1200px) {
            flex-direction: column;
            align-items: flex-start;
            visibility: hidden;
            opacity: 0;
            background-color: #fff;
            z-index: 999;
            height: auto;
            transform: translateY(-100%);
            transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        }


        &__list {
            /*nav__secondlyの親要素にrelative指定*/
            position: relative;
            /*line-heightは必要*/
            line-height: 70px;
            text-align: center;

            @media screen and (max-width: 1200px) {
                line-height: 45px;
                width: 100%;

            }
        }
    }
}

.nav__primary__list>.exception {
    display: block;
    padding: 0 15px;
    text-align: center;

    @media screen and (max-width: 1200px) {
        text-align: start;
    }
}


.nav__primary__link {

    display: block;
    padding: 0 15px;
    text-align: center;

    @media screen and (max-width: 1200px) {
        text-align: start;
        position: relative;
    }

}

.nav__primary__list:hover:not(:last-child) {
    background-color: #c8ecf5;
}

.nav__primary__list:last-child {
    display: block;
    padding: 0 15px;
    background-color: #2498b3;

    &:last-child:hover {
        background-color: #c8ecf5;
    }

    @media screen and (max-width: 1200px) {
        display: none;
    }

    &>a {
        color: #fff;
    }

    &>a:hover {
        color: #131d34;
    }
}



//サブメニュー
.nav__secondly {
    /*親要素のdisplayを解除*/
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    /*折り返さず横に一行*/
    white-space: nowrap;
    background-color: #fff;
    /*はじめは非表示*/
    visibility: hidden;
    opacity: 0;
    //display: none;だと要素自体がなくなる
    /*アニメーション設定*/
    transition: all 0.3s;

    &__list {
        /*リストの高さ調整*/
        height: 57px;
        line-height: 57px;
        background-color: #e9f8fb;
        text-align: left;

        &>a {
            display: block;
            padding: 0 50px 0 15px;
            height: 100%;
            font-weight: normal;

            &:hover {
                background-color: #fff;

                @media screen and (max-width: 1200px) {
                    background-color: #f3fafb;
                }

                &:hover {
                    color: #2498b3;

                    @media screen and (max-width: 1200px) {
                        color: #000;
                    }
                }
            }
        }
    }
}

/*liをhoverでulが表示される*/
.nav__primary__list:hover .nav__secondly {
    visibility: visible;
    opacity: 1;
}

//ハンバーガーボタン
//「メニューを開閉する」は非表示
/*.u-visuallyHidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
}*/

.p-hamburger {
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    -webkit-appearance: none; //ボタンのデフォルトをリセット
    -moz-appearance: none; //
    appearance: none; //
    border: 0; 
    outline: none; //クリックしたときに表示される枠線off
    cursor: pointer;
    background-color: transparent; //透明
    visibility: hidden; //非表示

    @media screen and (max-width: 1200px) {
        visibility: visible;
        position: fixed;
        transition: all 0.3s ease-in-out; //✖になるときの速さ

        &__line {
            position: absolute;
            top: 25px;
            left: 10px;
            width: 25px;
            height: 2px;
            background-color: #2498b3;

            //-webkit-transition: inherit;
            //        transition: inherit;
            &::before,
            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                background-color: inherit;
                //-webkit-transition: inherit;
                //transition: inherit;
            }

            &::before {
                top: -10px;
            }

            &::after {
                top: 10px;
            }
        }
    }
}

//クリックすると×になる動き
#js-buttonHamburger.active .p-hamburger__line::before {
    transform: translateY(10px) rotate(-45deg);
    background-color: #fff;
}

#js-buttonHamburger.active.p-hamburger__line {
    opacity: 0;
}

#js-buttonHamburger.active .p-hamburger__line::after {
    transform: translateY(-10px) rotate(45deg);
    background-color: #fff;
}

#js-buttonHamburger.active {
    background-color: #2498b3;
    right: 0;
    transition: 0.5s;
}

@media screen and (max-width: 1200px) {
    .nav__primary.active {
        transform: translateY(0%);
        visibility: visible;
        opacity: 1;
        z-index: 999;
        /*最前面に表示*/
    }

    .nav__primary__link:not(.exception)::after {
        content: "";
        position: absolute;
        width: 23px;
        height: 1.5px;
        top: 50%;
        right: 12px;
        background-color: #000;
        transition: .2s;
    }

    .nav__primary__link:not(.exception)::before {
        content: "";
        position: absolute;
        width: 23px;
        height: 1.5px;
        top: 50%;
        right: 12px;
        background-color: #000;
        transform: rotate(90deg);
        transition: .2s;
    }

    .nav__primary__link.is-open::after {
        transform: translateX(-10px);
        opacity: 0;
    }

    .nav__primary__link.is-open::before {
        transform: rotate(0deg);
    }


    .nav__secondly {
        position: static;
        background-color: #fff;
        width: 100%;
        transition: 0.4s;
        display: none;

        &.is-open {
            display: block;
        }

        &__list {
            width: 100%;
            line-height: normal;
            height: auto;
            background-color: #fff;

            &>a {
                padding: 10px 10px 10px 25px;
            }
        }
    }
}